<!-- PROGRESS BAR -->
<app-progress-bar></app-progress-bar>
<!-- / PROGRESS BAR -->

<!-- NOTIFICATION -->
<ng-snotify class="dark"></ng-snotify>
<!-- / NOTIFICATION-->

<!-- VERTICAL LAYOUT  -->
<ng-container *ngIf="appConfig.layout.style === 'vertical-layout'">
  <vertical-layout></vertical-layout>
</ng-container>
<!-- / VERTICAL LAYOUT  -->

<!-- HORIZONTAL LAYOUT  -->
<ng-container *ngIf="appConfig.layout.style === 'horizontal-layout'">
  <horizontal-layout></horizontal-layout>
</ng-container>
<!-- / HORIZONTAL LAYOUT  -->
